@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/**---- Main css part --*/
html, body{
	height: 100%;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	color: #222;
	background-color: LightGrey;
}

.padding{
	padding: 2em;
}

.reduce{
	width: 60%;
	background-color: white;
}

/*Menü */
navbar{
	padding: 0.8rem;
}

.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}

.logo {
	width: 85px;
}

/*Slider*/
.carousel-indicators li{
	background-color: #b4b4b4;
	height: 5px;
}

.carousel-indicators li.active {
    background-color: #FFA500;
}

.carousel-inner img{
	height: 100%;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 4em;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
	font-size: 2em;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.carousel-caption hr{
	border-top: 2px solid #FFA500;
	width:20%;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}

.btn-primary{
	background-color: rgba(128,128,128,0.6);
	border: 1px solid #FFA500;
}

.btn-primary:hover{
	background-color: rgba(128,128,128,0.8);
	border: 1px solid #FFA500;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#FFA500' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#FFA500' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel:hover .carousel-control-prev{
  background-color: rgba(128,128,128,0.2);
}

.carousel:hover .carousel-control-next{
  background-color: rgba(128,128,128,0.2);
}

.carousel:focus .carousel-control-prev{
  background-color: rgba(128,128,128,0.8);
}

.carousel:focus .carousel-control-next{
  background-color: rgba(128,128,128,0.8);
}


/*Jumper*/
.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.jumbotron p{
	font-size: 1.2em;
	padding-top: 0.5em;
}

/*Welcome*/
.welcome{
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr{
	border-top: 2px solid #b4b4b4;
	width:95%;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}

.welcome h1{
	font-size: 3em;
}

.welcome p{
	font-size: 1.5em;
}

/*Kategorien*/
.kategorie-item img{
	height: 80%;
	width: 80%;
	margin: 1rem;
}

/* Background */
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background {
  background-image: url('../img/background.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 15%;
  width:80%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*Block*/


/*Social Media*/
.social a{
	font-size: 3em;
	padding: 1.5em;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-instagram{
	color: #517fa4;
}

.fa-pinterest{
	color: #0099CC;
}



footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.logo-footer{
	height: 15%;
	width: 26%;
}


/**---- Subsides css part --
/* Landing Page */
.landing img{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
}

.path{
	padding-left: 2rem;
}

.path p{
	display: inline;
}

.path a{
	color: grey;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.active{
	color: black !important;
}



/*---Media Queries --*/
@media (max-width: 1200px) {
	html, body{
		height: 100%;
		width: 100%;
	}

	.carousel-caption h1{
		font-size: 3em;
	}

	.carousel-caption h3{
		font-size: 1.5em;
	}

	.jumbotron p{
		font-size: 1.5em;
	}

	.welcome h1{
		font-size: 2em;
	}

	.welcome p{
		font-size: 1.5em;
	}

	.hide{
		display: none;
	}

	.social a{
		font-size: 3em;
		padding: 1.25em;
	}
}
@media (max-width: 992px) {
	html, body{
		height: 100%;
		width: 100%;
	}

	.carousel-indicators{
		display: none;
	}

	.carousel-caption h1{
		font-size: 2.5em;
	}

	.carousel-caption h3{
		font-size: 1.25em;
	}

	.jumbotron p{
		font-size: 1.25em;
	}

	.welcome h1{
		font-size: 2em;
	}

	.welcome p{
		font-size: 1.25em;
	}

	.hide{
		display: none;
	}

	.social a{
		font-size: 2.5em;
		padding: 1.25em;
	}
}
@media (max-width: 768px) {
	html, body{
		height: 100%;
		width: 100%;
	}

	.carousel-indicators{
		display: none;
	}

	.carousel-caption h1{
		font-size: 2em;
	}

	.carousel-caption h3{
		font-size: 1em;
	}

	.jumbotron p{
		font-size: 1em;
	}

	.welcome h1{
		font-size: 2em;
	}

	.welcome p{
		font-size: 1em;
	}

	.hide{
		display: none;
	}

	.social a{
		font-size: 2em;
		padding: 1em;
	}
}
@media (max-width: 576px) {
	html, body{
		height: 100%;
		width: 100%;
	}

	.carousel-indicators{
		display: none;
	}

	.carousel-caption h1{
		font-size: 1.5em;
	}

	.carousel-caption h3{
		font-size: 1em;
	}

	.jumbotron p{
		font-size: 1em;
	}

	.welcome h1{
		font-size: 1.5em;
	}

	.welcome p{
		font-size: 1em;
	}

	.hide{
		display: none;
	}

	.social a{
		font-size: 2em;
		padding: 0.75em;
	}
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
